
.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
    justify-items: center;
}

.book-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.book-card form{
    border: none;
    outline: none;
    background: none;
    padding: 0; 
}

.book-card img {
    width: 250px;   
    height: 250px;
    margin-bottom: 10px;
    object-fit: cover;
}
.book-card .anuncioButton{
    border: none;
    outline: none;
    background: none;
    padding: 0;
}
.book-card .anuncioButton:houver{
    color: blue;
    font-size: 20px;
}
.book-card .size{
     max-width: 300px; max-height: 500px;
}

.book-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
}

.book-card p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
    text-align: right;
}

.book-card .buy-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    width: 100%;
}

.book-card .trade-button {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
