/* custom.css */
 body {
    text-align: center;
    height: 90%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 90%;
}

/* Wrapper principal para sticky footer */
.wrapper {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}
.form-container {
    max-width: 200px;
    width: 100%;
    padding: 20px;
}

.form-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-logo img {
    height: 50px;
    margin-right: 10px;
}

.form-logo h1 {
    font-weight: normal;
    font-size: 32px;
    margin: 0;
}

.form-control:focus {
    border-color: #7c3aed;
    box-shadow: none;
}

.btn-confirm {
    background-color: #22c55e;
    color: white;
    border: none;
}

.btn-confirm:hover {
    background-color: #16a34a;
}

.form-link {
    font-size: 12px;
    color: #3b82f6;
    text-decoration: none;
}

.form-link:hover {
    text-decoration: underline;
}
footer{
    text-align: center;
    max-width: 300px;
    max-height: 300px;
    display:inline-block;
}
#msgErro{
    font-size: 0.9em;
    color:crimson;
}
