/* custom.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Wrapper principal para sticky footer */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-logo img {
    height: 50px;
    margin-right: 10px;
}

.form-logo h1 {
    font-weight: normal;
    font-size: 32px;
    margin: 0;
}

.form-control {
    background-color: #f9f9f9; /* Cor de fundo mais clara */
}

.form-control:focus {
    border-color: #7c3aed;
    box-shadow: none;
}

.btn-confirm {
    background-color: #22c55e;
    color: white;
    border: none;
}

.btn-confirm:hover {
    background-color: #16a34a;
}

.form-link {
    font-size: 12px;
    color: #3b82f6;
    text-decoration: none;
}

.form-link:hover {
    text-decoration: underline;
}

#msgErro{
    font-size: 0.9em;
    color:crimson;
}

/* Centralização responsiva para telas menores */
@media (max-width: 768px) {
    .form-container {
        margin: 20px;
        padding: 20px;
    }
    
    .container > .row {
        margin: 0;
        justify-content: center; /* Centraliza a div row */
    }
}
